@charset "UTF-8";

.FilesDropField-base {
  position: relative;
}

.FilesDropField-attachment, .FilesDropField-ondragview, .FilesDropField-detector {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.FilesDropField-container {
  transition: opacity 0.1s linear;
  opacity: 1;
}
.FilesDropField-container-hide {
  opacity: 0;
}

.FilesDropField-detector {
  opacity: 0;
}
