@charset "UTF-8";

:root {
  --CornerMessage-cross-size: 0.8em;
  --CornerMessage-text-padding: 1em;
  --CornerMessage-text-height: 1.2em;
  --CornerMessage-container-margin: 1em;
}

.CornerMessage-container {
  position: fixed;
  right: var(--CornerMessage-container-margin);
  bottom: calc(-1 * (var(--CornerMessage-text-height) + var(--CornerMessage-text-padding) * 2 + 1em));
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  box-sizing: border-box;
  max-width: calc(100% - var(--CornerMessage-container-margin) * 2);
  word-break: break-all;
  transition: bottom 0.2s ease-in-out;
}

.CornerMessage-container-view {
  bottom: var(--CornerMessage-container-margin);
}

.CornerMessage-style-info {
  background-color: hsl(240, 50%, 90%);
}
.CornerMessage-style-warn {
  background-color: hsl(60, 50%, 90%);
}
.CornerMessage-style-danger {
  background-color: hsl(0, 50%, 90%);
}

.CornerMessage-mesbox {
  margin: 0;
  padding: var(--CornerMessage-text-padding);
  padding-right: calc(var(--CornerMessage-cross-size) + var(--CornerMessage-text-padding) * 2);
  line-height: var(--CornerMessage-text-height);
}

.CornerMessage-cross {
  position: absolute;
  width: var(--CornerMessage-cross-size);
  height: var(--CornerMessage-cross-size);
  top: calc(var(--CornerMessage-text-padding) + (var(--CornerMessage-text-height) - var(--CornerMessage-cross-size)) / 2);
  right: var(--CornerMessage-text-padding);
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}
.CornerMessage-cross:hover {
  opacity: 0.2;
}
.CornerMessage-cross::before, .CornerMessage-cross::after {
  display: block;
  position: absolute;
  width: calc(var(--CornerMessage-cross-size) * 1.4);   /* 1.4 as sqrt(2) */
  top: calc(var(--CornerMessage-cross-size) / 2 - 1px);
  right: calc(var(--CornerMessage-cross-size) * -0.2);  /* (1.4 - 1) / 2 = 0.2 */
  border-bottom: 2px solid #000;
  content: "";
}
.CornerMessage-cross::before {
  transform: rotate(45deg);
}
.CornerMessage-cross::after {
  transform: rotate(-45deg);
}